/* ===================== Global CSS ===================== */
:root {
    --primaryColor: #c07f50;
    --secondaryColor: #FFFFFF;
    --titleColor: #1e272e;
    --contentColor: #808E9B;
    --bgColor: #FFFFFF;
    --shadeBgColor: #f1f1f1;
    --borderColor: #e0e0e0;
    --blackColor: #000000;
    --whiteColor: #ffffff;


    --boxShadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
@media (prefers-color-scheme: dark) {
    /* :root {
        --titleColor: #FFFFFF;
        --contentColor: #808E9B;
        --bgColor: #000000;
        --shadeBgColor: #f1f1f1;
    } */
}



* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}
a {
    font-size: 14px;
    text-decoration: none;
    color: var(--titleColor);
    transition: all 0.3s;
}
a:hover {
    text-decoration: none;
    color: var(--primaryColor);
}
p, span {
    color: var(--contentColor);
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
}
strong {
    font-size: 14px;
    font-weight: 500;
    color: var(--titleColor);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    font-size: 14px;
    color: var(--contentColor);
    margin: 0 0 15px 0;
}
li:last-child {
    margin-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}



.mainContainer {
    display: flex;
    background: var(--bgColor);
}
.sidebar {
    width: 400px;
    padding: 48px;
    height: 100vh;
    background: var(--bgColor);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--boxShadow);
}
.content {
    width: calc(100% - 400px);
    margin: 0 0 0 auto;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
/* .container::before,
.container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% / 3);
    height: calc(100% + 144px);
    border-left: 1px solid var(--primaryColor);
    border-right: 1px solid var(--primaryColor);
    z-index: 0;
}
.container::before {
    left: unset;
    right: 0;
} */
.sectionLabel{
    font-weight: 300;
    padding-left: 32px;
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
}
.sectionLabel::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 1px;
    background-color: var(--primaryColor);
}
.titleArea .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 44px;
}
.btn {
    display: inline-block;
    padding: 12px 32px;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    transition: all 0.3s;
}
.btn:hover {
    background-color: var(--titleColor);
    color: var(--whiteColor);
}

/* ===================== Header ===================== */
.sidebar .logo {
    width: 120px;
    height: 120px;
    text-align: center;
    margin-bottom: 96px;
    position: relative;
}
.sidebar .logo img {
    object-fit: cover;
    border-radius: 50%;
}
.sidebar .navMenu {
    width: 100%;
    text-align: center;
}
.sidebar .navMenu li:not(:last-child) {
    margin-bottom: 32px;
}
.socialMedia {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.socialMedia a,
.socialMedia svg {
    display: flex;
    transition: all 0.3s;
}



.navigator {
    height: 48px;
    width: 48px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    border-radius: 50%;
    top: 24px;
    left: 324px;
    display: none;
    z-index: 999;
}
.navigator .shape {
    width: 24px;
    height: 1px;
    background: var(--whiteColor);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.navigator .shape:first-child {
    top: calc(50% - 8px);
}
.navigator .shape:last-child {
    top: calc(50% + 8px);
}
.color_body .navigator .shape:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.color_body .navigator .shape:nth-child(2) {
    width: 0;
}
.color_body .navigator .shape:last-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



/* ===================== Hero Area ===================== */
.heroArea {
    background-image: url("images/bannerBg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 48px;
}
.heroArea .caption {
    width: calc(100% - 48px);
    max-width: 540px;
    padding: 32px;
    background-color: var(--bgColor);
    color: var(--titleColor);
}
.heroArea .caption .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 16px;
}
.heroArea .caption .subTitle {
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    height: 44px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--borderColor);
}



/* ===================== About Area ===================== */
.aboutArea {
    padding: 96px 48px;
    position: relative;
    z-index: 1;
}
.aboutArea .container {
    display: flex;
    gap: 56px;
}
.aboutArea .aboutImage img {
    max-width: unset;
    width: 400px;
    height: 460px;
    object-fit: cover;
}
.aboutArea .personalDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    margin: 32px 0;
}
.aboutArea .personalDetails li {
    width: calc(50% - 16px);
    margin: 0;
}



/* ===================== Skills Area ===================== */
.experienceArea {
    padding: 96px 48px;
    background-color: var(--shadeBgColor);
    background-image: url("images/bannerBg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.experienceArea::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadeBgColor);
    opacity: 0.9;
    z-index: 0;
}
.experienceArea .title {
    padding-bottom: 12px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--borderColor);
}
.experienceArea .row {
    display: flex;
    gap: 56px;
}
.experienceArea .row .column {
    width: calc(50% - 28px);
}
.experienceArea .items {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.experienceArea .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.experienceArea .heading {
    display: flex;
    gap: 36px;
    justify-content: space-between;
}
.experienceArea .organization {
    font-size: 18px;
    font-weight: 500;
    color: var(--titleColor);
    width: calc(100% - 140px);
}
.experienceArea .duration {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 0 8px;
    font-size: 12px;
    max-height: 24px;
    margin-top: 4px;
}



/* ===================== Skills Area ===================== */
.skillsArea {
    padding: 96px 48px;
}
.skillsArea .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.skillsArea .skill {
    width: calc(100% / 3 - 16px);
    padding-left: 16px;
    margin: 0;
    position: relative;
}
.skillsArea .skill::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--contentColor);
    border-radius: 50%;
}



/* ===================== Services Area ===================== */
.serviceArea {
    padding: 96px 48px;
    background-color: var(--shadeBgColor);
}
.serviceArea .serviceItems {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.serviceArea .serviceItem {
    width: calc(100% / 3 - 16px);
    background-color: var(--bgColor);
    padding: 32px;
    transition: all 0.3s;
}
.serviceArea .serviceItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.serviceArea .serviceIcon {
    margin-bottom: 12px;
}
.serviceArea .serviceTitle {
    margin-bottom: 12px;
    padding-bottom: 16px;
    position: relative;
}
.serviceArea .serviceTitle::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 1px;
    background-color: var(--primaryColor);
    transition: all 0.3s;
}
.serviceArea .serviceItem:hover .serviceTitle::before {
    width: 100%;
}
.serviceArea .serviceContent {
    margin: 0;
}
.serviceArea .serviceLabel {
    display: inline-block;
    text-align: right;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    margin-top: 12px;
    color: transparent;
    -webkit-text-stroke: 1px var(--primaryColor);
    opacity: 0.3;
}



/* ===================== Work Area ===================== */
.workArea {
    padding: 96px 48px;
}
.workArea .workItems {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.workArea .workItem {
    display: flex;
    width: calc(100% / 3 - 16px);
    transition: all 0.3s;
    position: relative;
}
.workArea .workItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.workArea .workItem .caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 32px;
    opacity: 0;
    transition: all 0.3s;
}
.workArea .workItem:hover .caption {
    opacity: 1;
}
.workArea .workItem .caption .workTitle {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid var(--secondaryColor);
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.workArea .workItem .caption .workContent {
    color: var(--whiteColor);
}



/* ===================== Freelance Area ===================== */
.freelanceArea {
    padding: 96px 48px;
    background-image: url("images/bannerBg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}
.freelanceArea::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadeBgColor);
    opacity: 0.9;
    z-index: 0;
}
.freelanceArea .container {
    position: relative;
    z-index: 1;
}



/* ===================== Case Study Area ===================== */
.caseStudyArea {
    padding: 96px 48px;
}
.caseStudyArea .caseStudyItems {
    display: flex;
    gap: 24px;
    overflow: hidden;
}
.caseStudyArea .caseStudyItem {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 12px);
    transition: all 0.3s;
    position: relative;
}
.caseStudyArea .caption {
    margin-top: 12px;
}
.caseStudyArea .caseStudyLabel {
    margin: 0 0 6px;
    font-size: 14px;
}



/* ===================== Fun Fact Area ===================== */
.funFactArea {
    padding: 96px 48px;
    background-color: var(--shadeBgColor);
}
.funFactArea .funFactItems {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.funFactArea .funFactItem {
    width: calc(100% / 4 - 18px);
    text-align: left;
}
.funFactArea .funFactContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.funFactArea .funFactCount {
    font-size: 32px;
}



/* ===================== Contact Area ===================== */
.contactArea {
    padding: 96px 48px;
}
.contactArea .contentRow {
    gap: 56px;
}
.contactArea .contentColumn {
    width: calc(50% - 28px);
}
.contactArea .inputRow {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.contactArea .inputRow .formGroup {
    width: calc(50% - 16px);
}
input, textarea {
    width: 100%;
    padding: 0 0 16px;
    border: none;
    border-bottom: 1px solid var(--borderColor);
    border-radius: 0;
    outline: none;
    font-size: 14px;
    font-weight: 300;
    background: transparent;
    color: var(--textColor);
    margin-bottom: 16px;
    transition: all 0.3s;
}
input:focus, textarea:focus {
    border-color: var(--primaryColor);
}
textarea {
    height: 120px;
}
.contactArea .btn {
    border: none;
    cursor: pointer;
}



/* ===================== Footer Area ===================== */
.footerArea {
    padding: 96px 48px;
    background-color: var(--shadeBgColor);
}
.contentRow {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.contentRow .footerColumn:first-child {
    width: calc(50% - 32px);
}
.contentRow .footerColumn {
    width: calc(25% - 32px);
}
.footerContent {
    max-width: 260px;
}
.footerArea .socialMedia {
    justify-content: flex-start;
    margin-top: 24px;
}
.footerArea .title {
    margin-bottom: 24px;
}



.socketArea {
    padding: 0;
    background-color: var(--shadeBgColor);
    text-align: center;
    margin: 0;
}
.socketArea p {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 12px 0;
    color: var(--textColor);
    border-top: 1px solid var(--borderColor);
}



/* ===================== Responsive CSS ===================== */
@media only screen and (max-width: 1439px) {
    .sidebar {
        width: 300px;
    }
    .content {
        width: calc(100% - 300px);
    }
}



@media only screen and (max-width: 1259px) {
    .navigator {
        left: 24px;
        display: block;
        transition: all 0.3s;
    }
    .sidebar {
        margin-left: -300px;
        transition: all 0.3s;
    }
    .content {
        width: 100%;
        transition: all 0.3s;
    }
    .color_body .sidebar {
        margin-left: 0;
    }
    .color_body .content {
        width: calc(100% + 300px);
        transform: translateX(300px);
    }
}